<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Gyrex Development" sequenceNumber="137">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.license.feature.group" version="1.0.1.v20140414-1359"/>
<repository location="http://download.eclipse.org/cbi/updates/license"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.google.gson" version="0.0.0"/>
<unit id="com.ibm.icu.base" version="0.0.0"/>
<unit id="com.jcraft.jsch" version="0.0.0"/>
<unit id="javax.inject" version="0.0.0"/>
<unit id="javax.servlet" version="0.0.0"/>
<unit id="javax.websocket" version="0.0.0"/>
<unit id="org.apache.commons.beanutils" version="0.0.0"/>
<unit id="org.apache.commons.codec" version="0.0.0"/>
<unit id="org.apache.commons.collections" version="0.0.0"/>
<unit id="org.apache.commons.fileupload" version="0.0.0"/>
<unit id="org.apache.commons.io" version="0.0.0"/>
<unit id="org.apache.commons.lang" version="0.0.0"/>
<unit id="org.apache.commons.net" version="0.0.0"/>
<unit id="org.apache.commons.pool" version="0.0.0"/>
<unit id="org.apache.derby" version="0.0.0"/>
<unit id="org.apache.hadoop.zookeeper" version="0.0.0"/>
<unit id="org.apache.httpcomponents.httpclient" version="0.0.0"/>
<unit id="org.apache.httpcomponents.httpcore" version="0.0.0"/>
<unit id="org.apache.httpcomponents.httpclient" version="0.0.0"/>
<unit id="org.apache.mina.core" version="0.0.0"/>
<unit id="org.apache.sshd.core" version="0.0.0"/>
<unit id="org.json" version="0.0.0"/>
<unit id="org.kohsuke.args4j" version="0.0.0"/>
<unit id="org.objectweb.asm" version="0.0.0"/>
<unit id="org.quartz" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/orbit/S-builds/S20170120205402/repository"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.apache.lucene" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.analysis" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.core" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.grouping" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.highlighter" version="3.5.0.v20121015-1317"/>
<unit id="org.apache.lucene.memory" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.misc" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.queries" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.source" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.spatial" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.lucene.spellchecker" version="3.5.0.v20120725-1805"/>
<unit id="org.apache.solr.client.solrj" version="3.5.0.v20150506-0844"/>
<unit id="org.apache.solr.core" version="3.5.0.v20150506-0844"/>
<unit id="org.apache.commons.httpclient" version="3.1.0.v201012070820"/>
<repository location="http://download.eclipse.org/tools/orbit/S-builds/S20170120205402/repository"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="com.sun.jersey" version="0.0.0"/>
<unit id="javax.ws.rs" version="1.1.1.v20130318-1750"/>
<unit id="javax.xml" version="0.0.0"/>
<unit id="org.apache.hadoop.zookeeper.tests" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160221192158/repository"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="ch.qos.logback.classic.ebr" version="0.0.0"/>
<unit id="ch.qos.logback.core.ebr" version="0.0.0"/>
<unit id="ch.qos.logback.slf4j.ebr" version="0.0.0"/>
<unit id="com.google.guava.ebr" version="0.0.0"/>
<unit id="net.bytebuddy.ebr" version="0.0.0"/>
<unit id="org.apache.aries.spifly.dynamic.bundle.ebr" version="0.0.0"/>
<unit id="org.apache.aries.util.ebr" version="0.0.0"/>
<unit id="org.apache.commons.io.ebr" version="0.0.0"/>
<unit id="org.hamcrest.java.ebr" version="0.0.0"/>
<unit id="org.junit.ebr" version="0.0.0"/>
<unit id="org.mockito.ebr" version="0.0.0"/>
<unit id="org.objenesis.ebr" version="0.0.0"/>
<unit id="org.ow2.asm.debug-all.ebr" version="0.0.0"/>
<unit id="org.slf4j.api.ebr" version="0.0.0"/>
<unit id="org.slf4j.jcl.ebr" version="0.0.0"/>
<unit id="org.slf4j.jul.ebr" version="0.0.0"/>
<unit id="org.slf4j.log4j.ebr" version="0.0.0"/>
<repository location="http://public.runolarity.com/repository"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.sdk.feature.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/rt/rap/3.2/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.core.net" version="0.0.0"/>
<unit id="org.eclipse.core.net.linux.x86" version="0.0.0"/>
<unit id="org.eclipse.core.net.linux.x86_64" version="0.0.0"/>
<unit id="org.eclipse.core.net.win32.x86" version="0.0.0"/>
<unit id="org.eclipse.core.net.win32.x86_64" version="0.0.0"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.7milestones/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.junit.runtime" version="0.0.0"/>
<unit id="org.eclipse.pde.junit.runtime" version="0.0.0"/>
<unit id="org.eclipse.test.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.7milestones/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.7milestones/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.core.commands" version="0.0.0"/>
<unit id="org.eclipse.core.contenttype" version="0.0.0"/>
<unit id="org.eclipse.core.databinding" version="0.0.0"/>
<unit id="org.eclipse.core.databinding.beans" version="0.0.0"/>
<unit id="org.eclipse.core.databinding.observable" version="0.0.0"/>
<unit id="org.eclipse.core.databinding.property" version="0.0.0"/>
<unit id="org.eclipse.core.expressions" version="0.0.0"/>
<unit id="org.eclipse.core.jobs" version="0.0.0"/>
<unit id="org.eclipse.core.runtime" version="0.0.0"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.7milestones/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.compendium.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.equinox.http.servlet" version="0.0.0"/>
<unit id="org.eclipse.equinox.p2.operations" version="0.0.0"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.7milestones/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jetty.bundles.f.feature.group" version="0.0.0"/>
<unit id="org.eclipse.jetty.bundles.f.source.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/jetty/updates/jetty-bundles-9.x/9.4.2.v20170220/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.core.di" version="0.0.0"/>
<unit id="org.eclipse.e4.core.di.annotations" version="0.0.0"/>
<repository location="http://download.eclipse.org/eclipse/updates/4.7milestones/"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ecf" version="0.0.0"/>
<unit id="org.eclipse.ecf.filetransfer" version="0.0.0"/>
<unit id="org.eclipse.ecf.identity" version="0.0.0"/>
<unit id="org.eclipse.ecf.provider.filetransfer" version="0.0.0"/>
<unit id="org.eclipse.ecf.provider.filetransfer.httpclient4" version="0.0.0"/>
<unit id="org.eclipse.ecf.provider.filetransfer.httpclient4.ssl" version="0.0.0"/>
<unit id="org.eclipse.ecf.provider.filetransfer.ssl" version="0.0.0"/>
<unit id="org.eclipse.ecf.ssl" version="0.0.0"/>
<repository location="http://download.eclipse.org/rt/ecf/latest/site.p2"/>
</location>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.7"/>
<launcherArgs>
<programArgs>-console&#13;
-nosplash</programArgs>
</launcherArgs>
</target>
